body {
    background: #000000;
    color: aliceblue;
}
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);


body{
background: black;
}

.info {
color: white;
font:1em/1 sans-serif;
text-align: center;
}

.info a{
color: white;
}

svg {
width: 600px;
height: 120px;
display: block;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
overflow: hidden; 
background: black;
}
